<div class="card">
  <input
    type="text"
    class="form-control mb-3"
    placeholder="Search Employee"
    (keyup.enter)="onSearch($event)"
  />
  <p-table [value]="filteredData" [tableStyle]="{'min-width':'50rem'}" [columns]="cols">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [ngStyle]="{'display': col.visible !== false ? 'table-cell' : 'none'}">
          {{ col.header }}
        </th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns" [ngStyle]="{'display': col.visible !== false ? 'table-cell' : 'none'}">
          <ng-container *ngIf="!col.formatFunction">
            <!-- Use Angular DatePipe to format Date fields -->
            <span *ngIf="col.field === 'DateOfJoining' || col.field === 'DateOfBirth'">
              {{ formatDate(rowData[col.field]) }}
            </span>
            <!-- Display other fields as-is -->
            <span *ngIf="col.field !== 'DateOfJoining' && col.field !== 'DateOfBirth'">
              {{ col.field === 'Salary' ? formatSalary(rowData[col.field]) : rowData[col.field] }}
            </span>
          </ng-container>
          <ng-container *ngIf="col.formatFunction">
            {{ col.formatFunction(rowData[col.field]) }}
          </ng-container>
        </td>
        <td>
          <button (click)="onEdit(rowData)" class="btn btn-primary">Edit</button>
          <button (click)="deleteEmployee(rowData.employeeId)" class="btn btn-danger btn-sm">Delete</button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
