<div class="card">
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    

    <div class="p-field">
      <label for="employeeName">Employee Name</label>
      <input id="employeeName" formControlName="employeeName" pInputText />
      <div *ngIf="employeeForm.get('employeeName')?.invalid && employeeForm.get('employeeName')?.touched">
        <small class="p-error">Employee Name is required.</small>
      </div>
    </div>

    <div class="p-field">
      <label for="mobile">Mobile</label>
      <input id="mobile" formControlName="mobile" pInputText />
      <div *ngIf="employeeForm.get('mobile')?.invalid && employeeForm.get('mobile')?.touched">
        <small class="p-error" *ngIf="employeeForm.get('mobile')?.errors?.['required']">Mobile is required.</small>
        <small class="p-error" *ngIf="employeeForm.get('mobile')?.errors?.['pattern']">Mobile must be a 10-digit number.</small>
      </div>
    </div>

    <div class="p-field">
      <label for="email">Email</label>
      <input id="email" formControlName="email" pInputText />
      <div *ngIf="employeeForm.get('email')?.invalid && employeeForm.get('email')?.touched">
        <small class="p-error">Valid Email is required.</small>
      </div>
    </div>

    <div class="p-field">
      <label for="dateOfJoining">Date of Joining</label>
      <p-calendar id="dateOfJoining" formControlName="dateOfJoining" dateFormat="dd/mm/yy" showIcon="true" [minDate]="minDate"></p-calendar>
      <div *ngIf="employeeForm.get('dateOfJoining')?.invalid && employeeForm.get('dateOfJoining')?.touched">
        <small class="p-error">Date of Joining is required and must be atleast 18 years after Date Of Birth</small>
      </div>
    </div>

    <div *ngIf="validationMessage" class="p-error">
      {{ validationMessage }}
    </div>

    <div class="p-field">
      <label for="dateOfBirth">Date of Birth</label>
      <p-calendar id="dateOfBirth" formControlName="dateOfBirth" dateFormat="dd/mm/yy" showIcon="true"></p-calendar>
      <div *ngIf="employeeForm.get('dateOfBirth')?.invalid && employeeForm.get('dateOfBirth')?.touched">
        <small class="p-error">Date of Birth is required.</small>
      </div>
    </div>

    <div class="p-field">
      <label for="salary">Salary</label>
      <input id="salary" formControlName="salary" pInputText />
      <div *ngIf="employeeForm.get('salary')?.invalid && employeeForm.get('salary')?.touched">
        <small class="p-error" *ngIf="employeeForm.get('salary')?.errors?.['required']">Salary is required.</small>
        <small class="p-error" *ngIf="employeeForm.get('salary')?.errors?.['pattern']">Salary must be a number.</small>
      </div>
    </div>

    <button type="submit" pButton label="Add Employee" [disabled]="employeeForm.invalid"></button>
  </form>
</div>
